* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#navbar {
  display: flex;
  height: 80px;
  width: 100%;
  /* background-color: #efefef; */
  background-color: #000;
}
#navbar article {
  height: inherit;
  width: 94%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#navbar article #logo {
  display: flex;
  flex-basis: 40%;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  padding: 10px;
  gap: 50px;
}
#icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-style: italic;
  color: white;
  height: 70px;
  width: 70px;
  background-color: #f80;
  border-radius: 100%;
}

#input {
  padding: 15px;
  height: 30px;
  width: 50%;
  outline: none;
  border: 1px solid #ffb84c;
  border-radius: 20px;
}
#input::placeholder {
  font-size: 13px;
  font-weight: 600;
}

#navbar article #menu {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;
  padding: 10px;
}
#navbar article #menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  width: 100%;
}
#navbar article #menu ul .list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6e1c3;
  height: 30px;
  width: 100px;
  list-style: none;
  font-size: 18px;
  border-radius: 20px;
}
#navbar article #menu ul .list a {
  text-decoration: none;
  color: #121212;
  font-weight: 600;
}
#navbar article #menu ul .list:hover {
  background-color: #ffb84c;
  transition: 0.5s;
}

.cardSection {
  width: 100%;
  /* background-color: #eff5f5; */
  background-color: #121212;
  /* border-top: 0.5px solid #ffb84c; */
}
.cardSection .cards {
  height: 250px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardSection .cards .innerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
}

.cardSection .cards .innerCard img {
  height: 200px;
  width: 250px;
  border-radius: 10px;
  outline: 1px solid orange;
}

#resturent {
  height: 350px;
  width: 100%;
  /* border-top: 1px solid #ffb84c; */
  background-color: #121212;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  gap: 5px;
}
#resturent #res {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(196, 194, 194);
}
#resturent #food {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
#resturent #res h1 {
  color: gray;
  flex-basis: 30%;
  font-size: 30px;
}
#resturent #res ul {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#resturent #res ul li {
  color: rgb(156, 148, 148);
  font-weight: 450;
  height: 25px;
  background-color: #f6e1c3;
  border-radius: 5px;
  cursor: pointer;
}
#resturent #res ul li:hover {
  background-color: #ffb84c;
  transition: 0.5s;
}

#resturent #food .foodInfo {
  display: flex;
  align-items: center;
  height: 300px;
  width: 280px;
  flex-direction: column;
}

#resturent #food .foodInfo img {
  height: 220px;
  width: 280px;
  border-radius: 20px;
  border: 1px solid #ffb84c;
}

#resturent #food .foodInfo h4 {
  color: white;
}
#resturent #food .foodInfo p {
  border-bottom: 1px solid #efefef;
  color: #efefef;
}
#resturent #food .foodInfo .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
#resturent #food .foodInfo .rate div i {
  flex-basis: 30%;
  color: #f80;
}
#resturent #food .foodInfo .rate div {
  color: #efefef;
}

#resturent #food .foodInfo .rate ul {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #efefef;
}

#footer {
  height: 400px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 50px 0px 50px;
  /* border-top: 1px solid #ffb84c; */
}
#footer #companyDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer #companyDetails p {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f6e1c3;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}
#footer #companyDetails p:hover {
  background-color: #ffb84c;
  transition: 0.5s;
}
#footer #companyDetails ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

#footer #companyDetails ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#footer #contactDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer #contactDetails p {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f6e1c3;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}
#footer #contactDetails p:hover {
  background-color: #ffb84c;
  transition: 0.5s;
}

#footer #contactDetails ul {
  display: flex;

  flex-direction: column;
  gap: 10px;
  list-style: none;
}

#footer #contactDetails ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#footer #legalDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer #legalDetails p {
  display: flex;
  height: 50px;
  width: 25%;
  justify-content: center;
  align-items: center;
  background-color: #f6e1c3;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}
#footer #legalDetails p:hover {
  background-color: #ffb84c;
  transition: 0.5s;
}

#footer #legalDetails ul {
  display: flex;

  flex-direction: column;
  gap: 10px;
  list-style: none;
}

#footer #legalDetails ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#footer #socialDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer #socialDetails .para {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f6e1c3;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}
#footer #socialDetails .para:hover {
  background-color: #ffb84c;
  transition: 0.5s;
}

#footer #socialDetails .playStore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid #f80;
  padding: 10px;
}
#footer #socialDetails .playStore span {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer #socialDetails .playStore span i {
  font-size: 40px;
  color: white;
}
#footer #socialDetails .playStore .note {
  color: white;
}
